@use './partials/_variables.scss' as *;


$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import "@fortawesome/fontawesome-free/scss/brands.scss";

@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

body{
    font-family: $main-font;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
}
*, 
*::before, 
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid red;
}
img{
    max-width: 100%;
}
// section{
//     margin-bottom: 5rem;
// }
h2{
    font-size: 3.5rem;
    font-weight: 600;
}
h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .25rem;
}
p{
    color: $text-color-gray;
    line-height: 1.6;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: $text-color;
}
a:hover{
    color: $text-color;
}
.my-container{
    width: 70%;
    margin: 0 auto;
    // border: 1px solid red;
}
.call-btn{
    align-self: flex-end;
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: $aside-menu;
    border: 2px solid $aside-menu;
    border-radius: 20px;
    outline: 2px solid $bg-color-mint;
    text-shadow: 2px 2px $bg-color-mint;
    font-family: inherit;
    background-color: transparent;
    margin-right: 1rem;


    i{
        margin-left: .5rem;
    }
}
